<!-- 1st row verticaly centered text in the square columns -->

<div class="my-section">Technical Highlight</div>

<div class="a-line"><hr></div>

<!-- Squares -->
<div class="square bg HTML5">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                HTML5
            </div>
        </div>
    </div>
</div>
<div class="square bg CSS3">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                CSS3
            </div>
        </div>
    </div>
</div>
<div class="square bg JavaScript">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                JavaScript
            </div>
        </div>
    </div>
</div>

<div class="square bg jQuery">
    <div class="content">
        <div class="table">
            <div class="table-cell">
               jQuery
            </div>
        </div>
    </div>
</div>
<div class="square bg nodejs">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                node.js
            </div>
        </div>
    </div>
</div>
<div class="square bg Java">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                Java
            </div>
        </div>
    </div>
</div>


<div class="square bg Oracle">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                Oracle SQL
            </div>
        </div>
    </div>
</div>
<div class="square bg Agile">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                Agile/Scrum
            </div>
        </div>
    </div>
</div>
<div class="square bg AngularJS">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                AngularJS
            </div>
        </div>
    </div>
</div>
<div class="square bg Angular2">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                Angular 2
            </div>
        </div>
    </div>
</div>

<div class="square bg MongoDB">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                MongoDB
            </div>
        </div>
    </div>
</div>
<div class="square bg Express">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                Express
            </div>
        </div>
    </div>
</div>
